---
import Game from "@arcade-cabinet/reach-for-the-sky";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Reach for the Sky">
  <main class="w-full h-[100svh] bg-[#000]">
    <Game client:only="react" />
  </main>
</BaseLayout>
